.employee{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 8rem 2rem 8rem;
    background-color: #f2f5f8;
    h3{
        font-size: 40px;
    }
    .employee-content{
        width: 100%;
        font-size: 17px;
        padding: 1rem 8rem 1rem 8rem;
    }
    img{
        width: 100%;
    }
}