.NewsDetail{
    width: 100vw;
    padding-top: 120px;
    margin-bottom: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    button{
        margin-top: 2rem;
        border-radius: 20px;
        width: 150px;
    }
    .container-newsdetail{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between; 
        .main-card-newsdetail{
            width: 65%;
            height: auto;
            border-radius: 15px;
            border: none;
            justify-content: flex-start;
            .card-body{
                height: auto;
                padding: .5rem 0 .6rem 0rem;
                .time-news{
                    font-size: .85rem;
                    font-weight: 600;
                    color: gray;
                    text-align: left;
                    margin-bottom: .75rem
                }
                .card-title{
                    margin-bottom: .75rem;
                    font-size: 27px;
                    font-weight: 700;
                    transition: all .4s ease-in-out;
                    color: $color-weith-opacity;
                    text-align: left;
                }
                .hr{
                    border: 1px solid $color;
                    width: 100%;
                    height: 1px;
                    background-color: $color;
                    margin-bottom: 2rem;
                }
                .card-text{
                    font-size: 16px;
                    font-weight: 500;
                    color: #333;
                    text-align: left;
                }
            }
        }
    }
    .newsdetail-list-card{
        display: flex;
        width: 30%;
        // max-height: 750px;
        overflow-y: hidden;
        flex-direction: column;
        .header-newsdetail-list-card{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-weith;
            color: white;
            font-weight: 700;
        }
        .body-newsdetail-list-card{
            width: 100%;
            padding: 1rem 1.5rem 1rem 1.5rem;
            background-color: rgba(31,194,217, 0.2);
            .card{
                border-radius: 12px;
                position: relative;
                bottom: 0;
                margin-bottom: 1rem;
                img{
                    height: 200px;
                    border-radius: 15px 15px 0 0;
                }
                .card-body{
                    height: 25%;
                    padding: .5rem .75rem .6rem .75rem;
                    .time-news{
                        font-size: .85rem;
                        font-weight: 600;
                        color: gray;
                        text-align: left;
                        margin-bottom: .5rem
                    }
                    .card-title{
                        margin-bottom: .25rem;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                        font-size: 16px;
                        font-weight: 700;
                        transition: all .4s ease-in-out;
                        color: #333;
                        text-align: left;
                    }
                    .card-text{
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                        font-size: 14px;
                        font-weight: 500;
                        color: #333;
                        text-align: left;
                    }
                }
                &:hover{
                    cursor: pointer;
                    .card-title{
                        color: #1fc2d9;
                    }
                }
            }
        }
        
    }
    a:hover{
        text-decoration: none;
    }
}