.schedule{
    margin-left: 2%;
    margin-top: 1rem;
    width: 97%;
    
    .header-schedule{
        background-color: $color-weith;
        color:white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        border: 1px solid rgb(240,242,245);
        height: 50px;
        border-radius: 15px 15px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3%;  
    }
    .body-schedule{
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 0.3rem;
        width: 100%;
        height: auto;
        background-color: rgb(255,255,255);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        border: 1px solid rgb(240,242,245);
        border-radius: 0 0 15px 15px;
        table{
            width: 100%;
            tr{
                width: 25%;
                height: 100px;
                th{
                    text-align: center;
                    height: 40px;
                    border-bottom: 1px solid rgb(240,242,245);
                }
                td{
                    text-align: center;
                    border-bottom: 1px solid rgb(240,242,245);
                }
            }
        }
    }
    
}