body {
    margin: 0;
    padding: 0;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: normal !important;
    overflow-x: hidden;
    .swal2-popup{
        flex-direction: row !important;
      }
}
$margin-top-main: 7rem;
$width-component-main: 650px;
$font-family-main: "Abril Fatface", cursive;
$color: #1fc2d9;
$color-weith: rgba(23, 47, 72, 0.871);
$color-weith-opacity: rgb(23, 47, 72);