.rollcall{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgb(240,242,245);
    h4{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        text-align: center;
        font-size: 2.5rem;
        color: $color-weith;
        border-bottom: 3px solid $color-weith;
    }
    .detail-rollcall{
        .header-detail-rollcall{
            width: 100%;
            display: flex;
            flex-direction: row;
            select{
                width: 18%;
                margin-right: 1rem;
            }
        }
        .body-detail-rollcall{
            table{
                margin-top: 1rem;
                background-color: white;
                input{
                    width: 1.5rem;
                    height: 1.5rem;
                    position: relative;
                    margin: 0;
                }
                span{
                    border: .5px solid transparent;
                    border-radius: 5px;
                    color: white;
                    padding:.2rem .7rem .2rem .7rem;
                }
                .span-V-rollcall{
                    background-color: #dc3545;
                    padding-left: 1.1rem;
                    padding-right: 1.1rem;
                }
                .span-CM-rollcall{
                    background-color: #28a745;
                }
            }
        }
        .footer-detail-rollcall{
            justify-content: flex-end;
            button{
                margin-right: 2rem;
            }
        }
    }
}