@keyframes up {
    0% {bottom: 0;}
    100% {bottom: 20px;}
}
.course-1{
    width: 100%;
    height: inherit;
    background-color: rgba(31,194,217, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.course{
    width: 100vw;
    margin-top: $margin-top-main;
    background-image: url('../../../assets/img/bg-7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    h3{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 3rem;
        font-family: $font-family-main;
    }
    .course-list-card{
        display: flex;
        width: 100%;
        padding-left: 8rem;
        padding-right: 8rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-flow: wrap;
        .card{
            width: calc(100% / 3 - 40px);
            margin-right: 30px;
            border-radius: 12px;
            position: relative;
            bottom: 0;
            margin-bottom: 2.5rem;
            .card-discount{
                position: absolute;
                left: -5px;
                top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                color: white;
                width: 4rem;
                height: 2rem;
                background-color: $color;
                border-radius: 5px 15px 15px 0px;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -7px;
                    border-bottom-left-radius: 15px;
                    width: 5px;
                    background-color: rgb(17, 54, 93);
                    height: 7px;
                }
            }
            img{
                width: 100%;
            }
            a:hover{
                text-decoration: none;
            }
            .card-body{
                .card-title{
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 18px;
                    font-weight: 700;
                    transition: all .4s ease-in-out;
                    color: #333;
                }
                .card-text{
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 15px;
                    font-weight: 500;
                    color: #333;
                }
            }
            .card-footer{
                display: flex;
                flex-direction: row;
                padding: 0;
                height: calc(24px + 1.5rem);
                background: white;
                div{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    color:#999;
                    font-size: .9rem;
                }
                div:nth-child(2){
                    border-left: 1px solid rgba(0, 0, 0, 0.125);
                    font-weight: 600;
                }
            }
        }
        .card:hover{
            cursor: pointer;
            animation-name: up;
            animation-duration: 0.5s;
            animation-fill-mode: both;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            .card-title{
                color: #1fc2d9;
            }
            .card-footer{
                div:nth-child(2){color: #1fc2d9;}
            }
        }
    }
    
}