@keyframes example {
    0%   {right: -180px}
    100% {right: 0}
}
@keyframes example1 {
    0% {right: 0}
    100%   {right: -180px}
}
.menu-mini{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 150px;
    background: $color-weith-opacity;
    position: fixed;
    top:40%;
    right: -180px;
    z-index: 100;
    overflow: hidden;
    animation-name: example1;
    animation-duration: .25s;
    animation-fill-mode: both;
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-size: 16px;
        height: 33%;
        width: 100%;
        font-family: Asap,sans-serif;
        font-weight: 500;
        div{
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: .25rem;
            svg{
                font-size: 23px;
                font-weight: 600;
            }
        }
        &:hover{
            
            background-color: $yellow;
            color: $color-weith-opacity;
            text-decoration: none;
        }
    }
    &:hover{
        animation-name: example;
        animation-duration: .5s;
        animation-fill-mode: both;
    }
}