.NewsPage{
    width: 100vw;
    margin-top: $margin-top-main;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    h3{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 4rem;
        font-family: $font-family-main;
        text-align: center;
    }
    button{
        margin-top: 2rem;
        border-radius: 20px;
        width: 150px;
    }
    .container-newpage{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        .main-card-newPage-elementA{
            width: 65%;
        } 
        .main-card-newPage{
            width: 100%;
            height: 500px;
            border-radius: 15px;
            img{
                height: 75%;
                border-radius: 15px 15px 0 0;
            }
            .card-body{
                height: 25%;
                padding: .5rem .75rem .6rem .75rem;
                .time-news{
                    font-size: .85rem;
                    font-weight: 600;
                    color: gray;
                    text-align: left;
                    margin-bottom: .75rem
                }
                .card-title{
                    margin-bottom: .4rem;
                    font-size: 18px;
                    font-weight: 700;
                    transition: all .4s ease-in-out;
                    color: #333;
                    text-align: left;
                }
                .card-text{
                    height: 40px;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 15px;
                    font-weight: 500;
                    color: #333;
                    text-align: left;
                }
            }
        }
    }
    .newspage-list-card{
        display: flex;
        width: 30%;
        max-height: 750px;
        overflow-y: scroll;
        flex-direction: column;
        .card{
            border-radius: 12px;
            position: relative;
            bottom: 0;
            margin-bottom: 1rem;
            img{
                height: 65%;
                border-radius: 15px 15px 0 0;
            }
            .card-body{
                height: 25%;
                padding: .5rem .75rem .6rem .75rem;
                .time-news{
                    font-size: .85rem;
                    font-weight: 600;
                    color: gray;
                    text-align: left;
                    margin-bottom: .5rem
                }
                .card-title{
                    margin-bottom: .25rem;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 16px;
                    font-weight: 700;
                    transition: all .4s ease-in-out;
                    color: #333;
                    text-align: left;
                }
                .card-text{
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 14px;
                    font-weight: 500;
                    color: #333;
                    text-align: left;
                }
            }
            &:hover{
                cursor: pointer;
                .card-title{
                    color: #1fc2d9;
                }
            }
        }
    }
    a:hover{
        text-decoration: none;
    }
}