.introduce{
    display: flex;
    flex-direction: row;
    margin-top: $margin-top-main;
    height: $width-component-main;
    .img-intro{
        width: 40%;
        background-image: url('../../../../assets/img/cause-2.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .text-introduce{
        width: 60%;
        background-image: url('../../../../assets/img/cause-1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .text-introduce-1 {
            width: 100%;
            height: 650px;
            background-color: rgba(23, 47, 72, 0.871);
            display: flex;
            align-items: center;
            div{
                padding-left: 3rem;
                padding-right: 3rem;
                color: white;
                h3{
                    font-family: $font-family-main;
                    font-weight: 600;
                    width: inherit;
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }
            
        }
    }
    
    
}