.form-admission{
    display: flex;
    flex-direction: row;
    margin-top: $margin-top-main;
    margin-bottom: $margin-top-main;
    height: $width-component-main;
    .img-form{
        width: 40%;
        background-image: url('../../../../assets/img/Admission-2.webp');
    }
    .input-form{
        width: 60%;
        background-image: url('../../../../assets/img/Admission-1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .input-form-1 {
            width: 100%;
            height: 650px;
            background-color: rgba(23, 47, 72, 0.871);
            display: flex;
            align-items: center;
            form{
                padding-left: 10%;
                span{
                    color: white;
                    font-size: 50px;
                    font-weight: 700;
                    font-family: "Abril Fatface", cursive;
                }
                .form-group{
                    margin: 30px;
                    width: 40%;
                    input{
                        color: white;
                        width: 100%;
                        font-size: 20px;
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid white;
                        font-weight: lighter;
                    }   
                    input::placeholder{
                        color: white;
                    }
                    input:focus{
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                button{
                    width: 170px;
                    height: 60px;
                    background-color: $color;
                }
                button:hover{
                    color: $color;
                    background-color: white;
                }
                button:focus{
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
                button:active{
                    -webkit-box-shadow: none !important;
                    box-shadow: none !important;
                    background-color: white !important;
                    color: $color !important;
                }
            }
            
        }
    }
    
}